h1 {
  font-weight: bold;
}
p{
  text-align: justify;
}
.colborder{
  border:#cdcdcd medium solid ;
  font-weight: bold;
  background-color:#D3D3D3;
}
.formborder{
  border:#cdcdcd medium solid ;
  background-color:#D3D3D3;
  padding:10px;
}
.rownames{
  font-weight: bold;
  background-color:#32CD32;
}
.daycol{
  font-style: italic;
  font-weight: bold;
}
